<header class="manager-header">
  <div class="logo">
    <img src="assets/final-logo.jpg" alt="Company Logo" />
  </div>
  <nav class="header-nav">
    <a routerLink="/manager/manager-profile" routerLinkActive="active">
      <i class="fas fa-user"></i>
    </a>
    <a 
      routerLink="/manager/manager-notification" 
      routerLinkActive="active"
      (click)="getUnreadCount()">
      <i class="fas fa-bell"></i>
      <!-- Badge only shows when unreadCount > 0 -->
      <span class="notification-badge" *ngIf="unreadCount > 0">{{ unreadCount }}</span>
    </a>
    <a (click)="logout()" routerLinkActive="active">
      <i class="fas fa-sign-out-alt"></i>
    </a>
  </nav>
</header>
