<h2 style="text-align: center;">Tasks</h2>
<div class="task-container">
  <!-- Header with Search Box  -->
  <div class="header">
    <input 
      type="text" 
      placeholder="Enter Keyword to search" 
      class="search-box" 
      [(ngModel)]="searchTerm" 
      (input)="filterTasks()" 
    />
  </div>

  <!-- Task Cards Section -->
  <div class="task-cards">
    <div *ngFor="let task of filteredTasks" class="task-card">
      <h3 class="task-title" style="color: dodgerblue;">{{ task.taskName }}</h3>
      <p class="task-description">{{ task.description }}</p>
      <div class="task-details">
        <p>Start Date: <strong>{{ task.startDate | date: 'MMM dd, yyyy' }}</strong></p>
        <p>Due Date: <strong>{{ task.dueDate | date: 'MMM dd, yyyy' }}</strong></p>
        <p>Project : <strong>{{ task.projectName }}</strong></p>
        <p>Priority: <strong>{{ task.priority | uppercase }}</strong></p>
        <p>Status: <strong>{{ task.status | uppercase }}</strong></p>
      </div>
      <div class="task-actions">
        <!-- Action Buttons -->
        <button [routerLink]="['/employee/view-emp-task', task.taskId]" class="icon-btn view-btn" title="View">
          <span class="material-icons">visibility</span>
        </button>
        <button [routerLink]="['/employee/update-emp-task', task.taskId]" class="icon-btn edit-btn" title="Edit">
          <span class="material-icons">edit</span>
        </button>
      </div>
    </div>
  </div>
</div>
