<div class="container">
    <!-- Check if employeeDetails is loaded -->
    <div *ngIf="employeeDetails; else loading">
      <!-- Employee Header -->
      <div class="header-section">
        <img
          [src]="'data:image/jpeg;base64,' + employeeDetails.employeeImage"
          alt="Employee Image"
          class="employee-image"
        />
        <h1 class="employee-name">
          {{ employeeDetails.firstName }} {{ employeeDetails.lastName }}
        </h1>
      </div>
  
      <!-- Employee Details Table -->
      <div class="details-container">
        <table class="details-table">
          <tr>
            <th>ID</th>
            <td>{{ employeeDetails.employeeId }}</td>
          </tr>
          <tr>
            <th>Gender</th>
            <td>{{ employeeDetails.gender }}</td>
          </tr>
          <tr>
            <th>Email</th>
            <td>{{ employeeDetails.email }}</td>
          </tr>
          <tr>
            <th>Phone</th>
            <td>{{ employeeDetails.phone }}</td>
          </tr>
          <tr>
            <th>Present Address</th>
            <td>{{ employeeDetails.presentAddress }}</td>
          </tr>
          <tr>
            <th>Permanent Address</th>
            <td>{{ employeeDetails.permanentAddress }}</td>
          </tr>
          <tr>
            <th>ID </th>
            <td>{{ employeeDetails.idType }} : {{ employeeDetails.idNumber }}</td>
          </tr>
          <tr>
            <th>Date of Birth</th>
            <td>{{ employeeDetails.dateOfBirth | date: 'yyyy-MM-dd' }}</td>
          </tr>
          <tr>
            <th>Hire Date</th>
            <td>{{ employeeDetails.hireDate | date: 'yyyy-MM-dd' }}</td>
          </tr>
          <tr>
            <th>Current Salary</th>
            <td>{{ employeeDetails.currentSalary | currency: 'USD' }}</td>
          </tr>
        </table>
      </div>
    </div>
  
    <!-- Loading Spinner -->
    <ng-template #loading>
      <div class="spinner"></div>
      <p>Loading employee details...</p>
    </ng-template>
  </div>
  