.client-header {
    position: fixed;
    top: 0;
    left: 250px; 
    right: 0;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    z-index: 1000;
    width: calc(100% - 250px); 
    height: 50px;
    margin-left: 40px;
    background-color:darkslategray;
    color: white;
   
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
   align-items: center;
   height: 60px;
  }
  .logo{
    height: 60px;
    width: 200px;
    margin-left: 0%;
  }
  
  
  .logout-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 70px;
    font-size: 20px;
  }
  
  .logout-btn:hover {
    background-color: #c0392b;
  }
  
  .profile-btn {
    background-color: green;
    color: white; 
    border: none; 
    padding: 8px 16px; 
    cursor: pointer; 
    border-radius: 4px; 
    transition: background-color 0.3s; 
    margin-right: 20px; 
    font-size: 20px; 
  }
  
  .profile-btn:hover {
    background-color:darkgreen; 
  }